$app-background: #f8fbff;
$app-card-background: #fff;
$app-border: #efefef;
$app-active: #4da9e4;
$app-active-blue-bkg: #edf6fd;
$app-deActive: #dddddd;
$app-red: #ff3f3f;
$app-red-bkg: #ffeaea;

$app-red-bkg: #f6dde0;
$app-gray-bkg: #eff2f5;
$app-shadow: #0002;
$app-text: #413e4f;
$app-text-gray: #b8b8b8;
$app-text-primary: #4da9e4;
$app-switch-active: #4ebb68;
$app-active-bkg: #e9ffe6;
$app-switch-inactive: gray;
$app-switch-btn: white;
$blur-black: #0003;

$app-scroll-thumb: #6d7c94;
$app-scroll-track: #ececec;



//public color
$color-white: #ffffff;
$color-white-muted: #dddddd;//c5c1c1
$color-white-dark-muted: #c5c1c1;
$color-muted:#777;
$color-muted-dark:#565252;
$color-bg-soft:#f2f2f2;
$color-success: #0ea854;
$colorDanger: #e41212;
$color-soft-danger: #efb1b7;
$color-soft-success: #76cf9e;
$colorSoftBlue: #dde8f7;
$colorSoftOrange: #f8961e;

$color-btn-blue: #6997ed;
$color-btn-success: #0ea854;
$colorVerySoftBlue: #eaf0f7;
$colorSubTextMain: #969696;
$colorSoftLine:#ECECEC ;

$colorR: #ff4b55;
$colorG: #73af00;
$colorW: #f5f5f5;
$colorB: #6997ed;


